// Primary Color Palette
@primary-50: #FDECF0;
@primary-100: #FBDAE0;
@primary-200: #F8BAC5;
@primary-300: #F495A6;
@primary-400: #F07087;
@primary-500: #ED4E6B; // Màu trung bình - 500
@primary-600: #E3173C; // Màu chính
@primary-700: #AB112E;
@primary-800: #740C1F;
@primary-900: #38060F;
@primary-950: #1C0307;

// Secondary Color Palette
@secondary-0: #FFFFFF;
@secondary-50: #F5F5F4;
@secondary-100: #EEEDEC;
@secondary-200: #F8BAC5;
@secondary-300: #D6D3D1; // Màu trung bình - 500
@secondary-400: #A8A29E; // Màu chính
@secondary-500: #57534E;
@secondary-600: #44403C;
@secondary-700: #292524;
@secondary-800: #292524;
@secondary-900: #000000;

// Grayscale Color Palette
@grayscale-0: #FFFFFF;
@grayscale-50: #F5F5F4;
@grayscale-100: #EEEDEC;
@grayscale-200: #E7E5E4;
@grayscale-300: #D6D3D1; // Màu trung bình - 500
@grayscale-400: #A8A29E; // Màu chính
@grayscale-500: #57534E;
@grayscale-600: #44403C;
@grayscale-700: #292524;
@grayscale-800: #292524;
@grayscale-900: #1C1917;

// Outline Color Palette
@outline-100: #fafafa;
@outline-200: #f5f5f5;
@outline-300: #f0f0f0;
@outline-400: #d9d9d9;
@outline-500: #bfbfbf; // Màu trung bình - 500
@outline-600: #8c8c8c;
@outline-700: #595959;
@outline-800: #434343;
@outline-900: #262626;

// Disabled Color Palette
@disabled-bg: #f5f5f5;
@disabled-text: #bfbfbf;
@disabled-border: #d9d9d9;

// Green Color Palette
@green-50: #F5F5F4;
@green-100: #DCFCE7;
@green-200: #BBF7D0;
@green-300: #86EFAC; // Màu trung bình - 500
@green-400: #4ADE80; // Màu chính
@green-500: #22C55E;
@green-600: #16A34A;
@green-700: #15803D;
@green-800: #166534;
@green-900: #14532D;
@green-950: #000000;

// Blue Color Palette
@blue-50: #EFF6FF;
@blue-100: #EEEDEC;
@blue-200: #BFDBFE;
@blue-300: #93C5FD; // Màu trung bình - 500
@blue-400: #60A5FA; // Màu chính
@blue-500: #3B82F6;
@blue-600: #2563EB;
@blue-700: #1D4ED8;
@blue-800: #1E40AF;
@blue-900: #1E3A8A;
@blue-950: #172554;

// Blue Color Palette
@amber-50: #FFFBEB;
@amber-100: #FEF3C7;
@amber-200: #FDE68A;
@amber-300: #FCD34D; // Màu trung bình - 500
@amber-400: #FBBF24; // Màu chính
@amber-500: #F59E0B;
@amber-600: #D97706;
@amber-700: #B45309;
@amber-800: #92400E;
@amber-900: #78350F;
@amber-950: #451A03;

// Blue Color Palette
@red-50: #FEF2F2;
@red-100: #FEE2E2;
@red-200: #FECACA;
@red-300: #FCA5A5; // Màu trung bình - 500
@red-400: #F87171; // Màu chính
@red-500: #EF4444;
@red-600: #DC2626;
@red-700: #B91C1C;
@red-800: #991B1B;
@red-900: #7F1D1D;
@red-950: #450A0A;

// Biến màu chính
@outline-color: @primary-50; // Màu viền
@disabled-color: @grayscale-200; // Màu khi disabled

// Các biến màu khác
@hover-color: @primary-400;
@selected-color:  @primary-500;

// Màu chữ
@text-color: @grayscale-900;        // Màu chữ chính
@text-color-secondary: @primary-500; // Màu chữ phụ
@text-color-disabled: @grayscale-400;; // Màu chữ cho trạng thái disabled

// Kích thước chữ
@font-size-base: 14px;        // Kích thước chữ cơ bản
@font-size-lg: 16px;          // Kích thước chữ lớn
@font-size-sm: 12px;          // Kích thước chữ nhỏ

// Font chữ
@font-family-base: 'Inter, sans-serif'; // Font chữ cơ bản
@font-family-heading: 'Inter, serif'; // Font chữ cho tiêu đề

// Độ dày chữ
@font-weight-normal: 400;     // Độ dày chữ bình thường
@font-weight-bold: 700;       // Độ dày chữ đậm

// Khoảng cách giữa các dòng
@line-height-base: 1.5;       // Khoảng cách dòng cơ bản

// border radius
@border-radius-3xs: 2px;
@border-radius-2xs: 4px;
@border-radius-xs: 6px;
@border-radius-s: 8px;
@border-radius-m: 12px;
@border-radius-l: 16px;
@border-radius-xl: 20px;
@border-radius-2xl: 24px;
@border-radius-3xl: 32px;
@border-radius-4xl: 40px;
@border-radius-full: 99px;

// spacing
@spacing-x: 1px;
@spacing-2x: 2px;
@spacing-4x: 4px;
@spacing-6x: 6px;
@spacing-8x: 8px;
@spacing-10x: 10px;
@spacing-12x: 12px;
@spacing-16x: 16px;
@spacing-20x: 20px;
@spacing-24x: 24px;
@spacing-32x: 32px;
@spacing-40x: 40px;
@spacing-48x: 48px;
@spacing-64x: 64px;

@primary-border-radius: 8px;
@primary-margin: 16px;
@primary-padding: 16px;

@box-shadown-h: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),1px 0px 6px 0px rgba(0, 0, 0, 0.08);
@box-shadow-xs: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
@box-shadow-sm: 0px 12px 16px -8px rgba(0, 0, 0, 0.12);
@box-shadow-md: 0px 20px 24px -12px rgba(0, 0, 0, 0.16);
@box-shadow-lg: 0px 32px 48px -16px rgba(0, 0, 0, 0.2);
@box-shadow-xl: 0px 48px 64px -24px rgba(0, 0, 0, 0.24);