.ant-dropdown-menu {
  .ant-dropdown-menu-submenu-title {
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.ant-dropdown-menu-title-content {
}
