@import '@/styles/variables.less';

.room-sharing-content-wrapper {
  .form-actions {
    margin-bottom: 12px;
  }

  .ant-btn span {
    line-height: 16px !important;
    color: @grayscale-700;
    font-weight: 400;
    height: 16px;
  }

  .divider-form {
    width: 2px;
    height: 16px;
    background: @grayscale-400;
    margin: 0 5px;
  }

  .group-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ant-btn span {
    line-height: 20px;
    color: @grayscale-700;
    font-weight: 400;
    height: 16px;
  }
}

.btn-add {
  padding: 2px 6px;
}

.btn-detail,
.btn-add-new {
  padding: 2px 6px;
  height: 24px !important;
  // width: 75px;
}

.btn-detail span,
.btn-add-new span {
  color: @green-700;
  line-height: 20px;
  font-weight: 400;
}

.btn-add span {
  line-height: 20px;
  font-weight: 400;
}

.ant-upload.ant-upload-select {
  width: 100% !important;
  height: 120px !important;
}

:where(.css-dev-only-do-not-override-1vgrtbl).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select,
:where(.css-dev-only-do-not-override-1vgrtbl).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select {
  background: #fff;
}

.column-detail {
  position: relative;
}

.divider-detail {
  width: 2px;
  height: 40px;
  background: @grayscale-300;
  position: absolute;
  top: 27px;
  right: 8px;
}

.room-info-wrrap span {
  color: @grayscale-900 !important;
  font-weight: 500 !important;
}

.select-room {
  .room-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .room-info-col h3 {
      color: var(--Colour-Greyscale-500, #57534e);
      /* Body-13/Regular */
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      // line-height: 20px;
      /* 153.846% */
      text-transform: uppercase;
      margin: 0px;
    }

    .room-info-col p {
      color: var(--Colour-Greyscale-900, #1c1917);
      text-align: left;

      /* Body-13/Medium */
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      // line-height: 20px;
      /* 153.846% */
      margin-bottom: 0px;
      margin-top: 8px;
    }

    .room-info-col .rate-txt {
      color: var(--Colour-Red-600, #dc2626);
    }

    p.source-content {
      height: 20px;
    }

    .avail-num {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      border-radius: 100%;
      background: var(--Colour-Green-700, #15803d);
      color: var(--Colour-Greyscale-White, #fff) !important;
      text-align: center;
      width: 24px;
      height: 24px;
      margin-top: 4px !important;
    }

    .room-info-divider {
      width: 1px;
      height: 40px;
      background: @grayscale-300;
      margin: 16px;
      border-radius: 8px;
    }
  }

  .select-room-divider {
    height: var(--Start, 1px);
    align-self: stretch;
    width: 100%;
    background: var(--Colour-Greyscale-300, #d6d3d1);
    margin: 16px 0;
  }

  .row-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 16px;

    .custom-title {
      font-weight: 500;
      font-size: 10px;
      color: var(--Colour-Greyscale-500, #57534e);
      line-height: 12px;
    }

    .stay-information {
      .row {
        display: flex;
        align-items: flex-end !important;
        flex-wrap: nowrap;
        gap: 0;

        .adult {
          padding-right: 10px !important;
        }

        .child {
          padding-left: 12px !important;
        }
      }
    }
  }

  .guest-info-row {
    display: flex;
    align-items: flex-start !important;
    margin: 0 !important;
  }
}

.view-package-service {
  .ant-table-tbody .ant-table-row:last-child {
    .ant-table-cell {
      border-bottom: 0 !important;
    }

    .ant-table-cell:first-child {
      border-radius: 0 0 0 8px !important;
    }

    .ant-table-cell:last-child {
      border-radius: 0 0 8px 0 !important;
    }
  }
}

.custom-btn {
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  gap: 4px;
  height: 30px !important;
}

.btn-title {
  font-weight: 600 !important;
  color: #16A34A !important;
}

.custom-btn:hover {
  background-color: #fff !important;
}

.btn-text {
  color: #44403C !important;
  font-weight: 500 !important;
}

span.import-text {
  line-height: 16px !important;
}

.my-textarea.select-room {
  height: 148px !important;
}

.stay-info, .remark-title, .special-service-panel span.ant-collapse-header-text {
  color: #57534E;
  font-weight: 500;
  font-size: 11px;
}

.special-service-panel {
	.custum-table {
		.quantity-row {
			svg.add-quantity-btn, svg.minus-quantity-btn {
				height: 11px;
				width: 11px;
				min-height: 11px;
				min-width: 11px;
			}
		}
	}
}
